# Ignorar todos .env em qualquer pasta
**/.env
**/.env.*

# Mas manter o .env.example versionado
!**/.env.example

#Pastas
.trae
.vscode
.venv
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
