SELECT grantee, table_name, privilege_type FROM information_schema.role_table_grants WHERE table_schema = 'public' AND table_name = 'foods_macros' AND grantee IN ('anon', 'authenticated') ORDER BY table_name, grantee;
